		<table width="100%">
			<tr>
                		<th width="20%">{{'label.status'|trans([],'BoAdminBundle')}} :</th>
				<td class="sty_label">{% include "BoAdminBundle:Employee:selectstatus.html.twig" %}</td>
			</tr>
		</table>
