	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="50%" class="sty_label">{{'label.name'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(status_form.statusname) }}</td>	
		</tr>
		<tr><td>&nbsp;</td></tr>
	</table>