{% if criteria is defined %}
	<div class="result_content">
		Search results for this criteria "{{criteria}}"<br>
		Sorry, no response seems match your request.
	</div>
{%else%}
	{% include 'BoAdvisorsBundle:Employee:tbliste.html.twig' %}
{%endif%}