{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:local.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>Teacher Category edit</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('categoryroom_edit',{'id':categoryroom.id}) }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdminBundle:Categoryroom:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Categoryroom:editform.html.twig"%}
			</div>
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
