{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}	
{% block nav %}{% endblock %}
{% block label %}<h1>Day edit</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('tday_edit',{'id':tday.id}) }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdminBundle:Tday:editactions.html.twig"%}
			{%include "BoAdminBundle:Tday:editform.html.twig"%}
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
