    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ question.name }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ question.text }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ question.type }}</td>
            </tr>
        </tbody>
    </table>
