	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td>
						<a href="{{ path('rubric_new') }}">{{'action.add'|trans([],'BoAdminBundle')}}</a>
					</td>
					<td>
						<button type="button" class="btn btn-primary">
							Total rubric <span class="badge">{{rubrics|length|number_format(0,""," ")}}</span>
						</button>
					</td>
				</tr>
			</table>		
		</div>
	</div>	