	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="50%" class="sty_label">Name (english)</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.nameen) }}</td>	
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            <th width="50%" class="sty_label">Name (french)</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.namefr) }}</td>	
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
	</table>