{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- Payroll{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:accounting.html.twig"%}{% endblock %}
{% block nav %}
	{%include "BoAdminBundle:Payroll:rightshow.html.twig"%}
{% endblock %}
{% block label %}<h1>Payroll</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('hteaching_edit',{'id':hadmin.id}) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Hteaching:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Hteaching:editform.html.twig"%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
