	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td><button type="submit" id="btn-create">{{'action.create'|trans([],'BoAdminBundle')}}</button></td>
					<td>
						<a href="{{ url }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
					<td>
						<a href="{{ path('specification_index') }}">Profil list</a>
					</td>
				</tr>
			</table>		
		</div>
	</div>	