{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:local.html.twig"%}{% endblock %}	
{% block nav %}	
{% endblock %}
{% block label %}<h1>Furnitures list</h1>{% endblock %}	
{% block actions %}
	{%include "BoAdminBundle:Furnitures:actions.html.twig"%}					
{% endblock %}
{% block body %}
	<div id="content-liste">
		{%include "BoAdminBundle:Furnitures:tbliste.html.twig"%}
	</div>
{% endblock %}
