{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>Contract schedule</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('schedule_new') }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Schedule:newactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Schedule:newform.html.twig"%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
