	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td>
						<button type="button" class="btn btn-info btn-lg modal-delete" data-toggle="modal" data-target="#myModal">{{'action.delete'|trans([],'BoAdminBundle')}}</button>
					</td>
					<td>
						<a href="{{ path('dash_model_index') }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
					<td>
						<button type="button" class="btn btn-info btn-lg modal-create" data-toggle="modal" data-target="#edit_model">{{'action.edit'|trans([],'BoAdminBundle')}}</button>
					</td>
				</tr>
			</table>		
		</div>
	</div>	