	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td class="form-group">
						<input type="text" class="form-control" id="inp-type">
					</td>
					<td>
						<button type="submit" id="btn_create">{{'action.create'|trans([],'BoAdminBundle')}}</button>
					</td>
				</tr>
			</table>		
		</div>
	</div>	