{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}	
{% block nav %}{% endblock %}
{% block label %}<h1>Teachers creation</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('teachers_new') }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Teachers:newactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Teachers:newform.html.twig"%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
