					{%if agenda[1] is defined%}
						{%if agenda[1]['07:00'] is defined%}
							<td class="{%if dates[0]<today %}agenda-week-p{%elseif agenda[1]['07:00']['option']==1%}agenda-week{%else%}agenda-week-s{%endif%}" rowspan="{{agenda[1]['07:00']['hour']}}">{{agenda[1]['07:00']['label']|raw}}</td>
						{%elseif (agenda[1]['endam'] is defined and times['07:00']<agenda[1]['endam']) and (agenda[1]['startam'] is defined and times['07:00']>=agenda[1]['startam'])%}
						{%else%}
							<td class="agenda-week1">&nbsp;</td>
						{%endif%}
					{%else%}
						<td class="agenda-week1">&nbsp;</td>
					{%endif%}