				<select name='idtype' id='idtype'>
					<option value="0" selected="delected">{{'action.selecttype'|trans([],'BoAdminBundle')}}</option>
					{%for type in types%}
						<option value="{{type.id}}" {%if idtype is defined and idtype ==type.id%}selected='selected'{%endif%}>{{type.name}}</option>
					{%endfor%}
				</select>
