			<table width="100%">
				<tr>
					<td width="100%">
						<button type="button" class="modal_create" data-toggle="modal" data-target="#add_ticket" size="100%">{{'action.add'|trans([],'BoAdminBundle')}} {{'entity.help'|trans([],'BoAdminBundle')}}</button>
					</td>
				</tr>
				<tr>
					<td width="100%">
						<button type="button" class="modal_create" data-toggle="modal" data-target="#add_absence">{{'action.add'|trans([],'BoAdminBundle')}} {{'label.absence'|trans([],'BoAdminBundle')}}</button>
					</td>
				</tr>
			</table>
