		<br/>
		<div class="panel panel-default">
			<div class="panel-heading">{{'title.notifications'|trans([],'BoAdminBundle')}}</div>
			<div class="panel-body noframe">
				{{"no message found"|trans()}}
			</div>
		</div>
