{% if criteria is defined %}
	<div class="result_content">
		{{'message.search.result'|trans([],'BoAdminBundle')}} "{{criteria}}"<br/>
		{{'message.search.noresult'|trans([],'BoAdminBundle')}}.
	</div>
{%else%}
	{% include 'BoAdminBundle:Teachers:tbliste.html.twig' %}
{%endif%}