{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>Schedule edit</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('contractschedule_edit',{'id':contractSchedule.id}) }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdminBundle:ContractSchedule:editactions.html.twig"%}
			{%include "BoAdminBundle:ContractSchedule:editform.html.twig"%}
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
