{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:local.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>Furniture state</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		{%include "BoAdminBundle:Furniturestate:showactions.html.twig"%}
		<div class="show_content">
			{%include "BoAdminBundle:Furniturestate:show.html.twig"%}
		</div>
	</div>
{% endblock %}
