{%set i=1%}
{%for question in questions%}
	{%set j=1%}
	<div class="title"><b>QUESTION {{i}}</b>&nbsp;&nbsp;&nbsp;</div>
	<div class="content">{{question.content|raw}}</div>
	<div class="quiz_question_response">
		{%if question.answer%}
			<ol class="answer">
				{%for answer in question.answer%}
					<li><span {%if answer.choice==1%}class="wax_3d_2"{%elseif resultsanswer[question.id] is defined and answer.getId()==resultsanswer[question.id]%}class="orange_3d_1"{%endif%}>{{answer.response}}</span>&nbsp;&nbsp;{%if answer.choice==1%}<img src="{{ asset('images/actions/ok.gif') }}" alt="" width="20px"/>{%endif%}&nbsp;&nbsp;</li>
					{%set j=j+1%}
				{%endfor%}
			</ol>
		{%endif%}		
	</div>
	{%set i=i+1%}	
{%endfor%}
