{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>Clearance Level creation batch</h1>{% endblock %}
{% block body %}
	<div id="body-content">
			{%include "BoAdminBundle:Securitycote:newbatchactions.html.twig"%}
			{%for i in res%}
				{{i}}<br/>
			{%endfor%}
	</div>
{% endblock %}
