{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}	
{% block nav %}{% endblock %}
{% block label %}<h1>Month edit</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('tmonth_edit',{'id':tmonth.id}) }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdminBundle:Tmonth:editactions.html.twig"%}
			{%include "BoAdminBundle:Tmonth:editform.html.twig"%}
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
