{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}	
{% block nav %}{% endblock %}
{% block label %}<h1>Month creation</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('tmonth_new') }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Tmonth:newactions.html.twig"%}
			{%include "BoAdminBundle:Tmonth:newform.html.twig"%}
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
