{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:local.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>Local creation batch</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('local_newbatch') }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Local:newbatchactions.html.twig"%}
			{%include "BoAdminBundle:Local:newbatchform.html.twig"%}
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
