{% extends 'base.html.twig' %}

{% block body %}
    <h1>SousRubrique list</h1>


    <ul>
        <li>
            <a href="{{ path('sousrubrique_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
