				<select name='idstatus' id='idstatus'>
					<option value="0" {%if idstatus is defined and idstatus ==1%}selected='selected'{%endif%}>{{'label.all'|trans([],'BoAdminBundle')}}</option>
					<option value="1" {%if idstatus is defined and idstatus ==1%}selected='selected'{%endif%}>{{'status.submitted'|trans([],'BoAdminBundle')}}</option>
					<option value="2" {%if idstatus is defined and idstatus ==2%}selected='selected'{%endif%}>{{'action.resolved'|trans([],'BoAdminBundle')}}</option>
					<option value="3" {%if idstatus is defined and idstatus ==3%}selected='selected'{%endif%}>{{'action.notresolved'|trans([],'BoAdminBundle')}}</option>
				</select>	