		<table width="100%">
				<td width="20">&nbsp;</td>
				<td class="sty_label" align="right">{{'label.status'|trans([],'BoAdminBundle')}}:&nbsp;</td>
				<td>{% include "BoAdvisorsBundle:Orderform:status.html.twig" %}</td>
				<td width="20">&nbsp;</td>
				<!--td class="sty_label" align="right">{{'label.language'|trans([],'BoAdminBundle')}}:&nbsp;</td>
				<td>{% include "BoAdvisorsBundle:Orderform:selectlangage.html.twig" %}</td--!>
				<td width="80%">&nbsp;</td>
			</tr>
		</table>