<div style="font-family: Trebuchet MS, sans-serif; font-size: 12px;">
	<div align="center"><b style="font-size: 15px;">CLIC Ottawa & Gatineau</b></div>
	<div align="center">280 Albert, Suite 800 (8th floor), Ottawa, Ontario, K1P 5G8</div>
	<div align="center">4 rue Taschereau, Suite 430 (4th floor), Gatineau (Sector Hull), Québec, J8Y 2V5</div>
	<div align="center"><b style="font-size: 15px;>Téléphone : Ottawa 819-772-CLIC (2542)  Gatineau 819-772-CLIC (2542)</b></div>
	<div align="center">Télécopieur : 819-772-2542</div>
	<div align="center">Courriel : <a href="mailto:info@clic-hull.com">info@clic-hull.com</a></div>
	<div align="center">Site internet : <a href="mailto:www.clic-hull.com">www.clic-hull.com</a></div>
</div>