	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td><button type="submit" id="btn-create">{{'action.update'|trans([],'BoAdminBundle')}}</button></td>
					<td>
						<a href="{{ path('contracts_show',{'id':training.contracts.id}) }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
					<td>
						<td>
							<button type="button" class="btn btn-info btn-lg modal-delete" data-toggle="modal" data-target="#myModal">{{'action.delete'|trans([],'BoAdminBundle')}}</button>
						</td>
					</td>
				</tr>
			</table>		
		</div>
	</div>	