	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td>
						<a href="{{ path('group_index') }}">{{'title.list'|trans([],'BoAdminBundle')}}</a>
					</td>
					<td>
						<a href="{{ path('group_show',{'id':group.id}) }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
				</tr>
			</table>		
		</div>
	</div>	