	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td><button type="submit" id="btn-create">{{'action.update'|trans([],'BoAdminBundle')}}</button></td>
					<td>
						<a href="{{ path('payroll_show',{'id':hteaching.idperiodpay,'action':'Teaching'}) }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
				</tr>
			</table>		
		</div>
	</div>	