	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="25%" class="sty_label">{{'label.designation'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.designation) }}</td>			
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
            <th class="sty_label">Description FR</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.descfr) }}</td>			
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<th class="sty_label">Description EN</th>		
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.descen) }}</td>			
		</tr>
	</table>