{% if criteria is defined %}
	<div class="result_content">
		{{'message.search.noresult'|trans([],'BoAdminBundle')}}
	</div>
{%else%}
	{% include 'BoAdminBundle:Message:tbliste.html.twig' %}
{%endif%}