{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orderform list</h1>



    <ul>
        <li>
            <a href="{{ path('orderform_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
