{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>Employee creation batch</h1>{% endblock %}
{% block body %}
	<div id="body-content">
			{%include "BoAdminBundle:Employee:newbatchactions.html.twig"%}
			{%for i in res%}
				{{i}}
			{%endfor%}
	</div>
{% endblock %}
