				<select name='idrecipient1' id='idrecipient1'>
					<option value="0" selected="delected">Select a recipient</option>
					{%for recipient in recipients%}
						<option value="{{recipient.id}}" {%if idrecipient is defined and recipient.id ==idrecipient%}selected='selected'{%endif%}>{{recipient.firstname}} {{recipient.name}}</option>
					{%endfor%}
				</select>	