	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td>
						<button type="submit" id="btn_update">{{'action.updateall'|trans([],'BoAdminBundle')}}</button>
					</td>
					<td>
						<a href="{{ path('contracts_elapsed_back') }}">{{'action.cancel'|trans([],'BoAdminBundle')}}</a>
					</td>
				</tr>
			</table>		
		</div>
	</div>	