	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            		<th class="sty_label">Notes</th>
		</tr>
		<tr>
			<td>{{ form_widget(reopen_form.description) }}</td>			
		</tr>
		<tr><td>&nbsp;</td></tr>
	</table>
