				<select name='idstatus' id='idstatus'>
					<option value="1" {%if idstatus is defined and idstatus ==1%}selected='selected'{%endif%}>{{'label.inprogress'|trans([],'BoAdminBundle')}}</option>
					<option value="0" {%if idstatus is defined and idstatus ==0%}selected='selected'{%endif%}>{{'label.archived'|trans([],'BoAdminBundle')}}</option>
					<option value="2" {%if idstatus is defined and idstatus ==2%}selected='selected'{%endif%}>{{'label.upcoming'|trans([],'BoAdminBundle')}}</option>
					<option value="3" {%if idstatus is defined and idstatus ==3%}selected='selected'{%endif%}>{{'label.all'|trans([],'BoAdminBundle')}}</option>
				</select>	