	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>			
			<th width="40%" class="sty_label">{{'label.month'|trans([],'BoAdminBundle')}}</th>
			<th width="40%" class="sty_label">{{'label.year'|trans([],'BoAdminBundle')}}</th>		
		</tr>
		<tr>		
			<td>{{ form_widget(tsp_form.month) }}</td>
			<td>{{ form_widget(tsp_form.year) }}</td>		
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
	</table>