	<div class='numberfound'><b>{{'message.searchresult'|trans([],'BoAdminBundle')}}</b> : <span>{{count}} {{'message.found'|trans([],'BoAdminBundle')}}</span></div>
	{% include 'BoAdminBundle:Contracts:tbliste.html.twig' %}
