	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="20%" class="sty_label">Number day</th>
			<td width="60%">{{ form_widget(form.iday) }}</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            <th class="sty_label">Name day (english)</th>
			<td>{{ form_widget(form.sdayen) }}</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            <th class="sty_label">Name day (french)</th>
			<td>{{ form_widget(form.sdayfr) }}</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
	</table>