	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td class="delete-action">
						<button type="button" class="btn btn-info btn-lg modal-delete" data-toggle="modal" data-target="#myModal">{{'action.delete'|trans([],'BoAdminBundle')}}</button>
					</td>
					<td>
						<a href="{{ path('errors_index') }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
				</tr>
			</table>		
		</div>
	</div>	