	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td class="total_number">
						<button type="button" class="btn btn-primary">
							Total {{'label.students'|trans([],'BoAdminBundle')}} <span class="badge">{{total}}</span>
						</button>
					</td>
				</tr>
			</table>		
		</div>
	</div>	
